<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}"><button>Logout</button></a>
        <a href="/user"><button>User panel</button></a>
        {% if is_granted('ROLE_ADMIN') %}
                <a href="/admin"><button>Admin panel</button></a>
        {% endif %}
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>