{% block body %}
    {% block headers %}
        {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            {% include '@App/myHeader.html.twig' %}
        {% endif %}
        <h1>Welcome to the Notice Board!</h1>
        <h2>Add, browse and comment notices below!</h2>
    {% endblock %}

{# new notice form #}

    <h2>Fill in your Notice Form: <a href="{{ path('app_notice_newnotice') }}"><button>New Notice</button></a></h2>
    <hr>

{# show all notices #}
{% include 'AppBundle::showAllNotices.html.twig' %}
{% endblock %}