{% block body %}
    {% block headers %}
        {%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
            {% include '@App/myHeader.html.twig' %}
        {% endif %}
        <h1>Welcome to the Notice Board!</h1>
        <h2>Add, browse and comment notices below!</h2>
    {% endblock %}

{# new notice form #}

{% include 'AppBundle::newNotice.html.twig' %}<br><hr>

{# show all notices #}
{% include 'AppBundle::showAllNotices.html.twig' %}
{% endblock %}