{% block form %}
    <p>Here's your notice creation form:</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Post your notice">
    {{ form_end(form) }}
{% endblock %}