{% include '@App/myHeader.html.twig' %}

{% block form %}
    <p>Fill in your Notice Form:</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Post your notice">
    {{ form_end(form) }}
{% endblock %}