{% block body %}
    {% for notice in notices %}
        <p>{{ notice.title }} created {{ notice.creationDate|date('Y-m-d\\ H:i:s') }}<br>
            {{ notice.description }}<br>
            Expires: {{ notice.dueDate|date('Y-m-d\\ H:i:s') }}
        </p><br>
    {% else %}
        <p>No notices yet.</p><br>
    {% endfor %}
{% endblock %}